@page "/Login/Confirmation"
@inject HttpClient client
@inject NavigationManager NavigationManager
@inject ILocalStorageService LocalStorage
@inject AuthenticationStateProvider AuthStateProvider


<AuthorizeView>
    <Authorized>
        <!-- Content for authorized users -->
        <p>You are already logged in.</p>
    </Authorized>
    <NotAuthorized>
        <p>@message</p>
    </NotAuthorized>
</AuthorizeView>

@code {
    string message = null;

    protected override void OnInitialized()
    {
        var uri = new Uri(NavigationManager.Uri);
        var query = System.Web.HttpUtility.ParseQueryString(uri.Query);
        var username = query["username"];
        var email = query["email"];
        var code = query["code"];
        base.OnInitialized();
        SendConfirmation(username, email, code);
    }

    async Task SendConfirmation(string user, string email, string code)
    {
        LoginConfirm userConfirm = new LoginConfirm()
        {
            Code = code,
            Username = user,
            UserLogin = new UserLogin()
            {
                Email = email
            }
        };
        var result = await client.PostAsJsonAsync($"https://localhost:7000/user/Login/Confirmation", userConfirm);
        if (result.IsSuccessStatusCode)
        {
            var token = await result.Content.ReadAsStringAsync();
            await LocalStorage.SetItemAsync("token", token);
            await AuthStateProvider.GetAuthenticationStateAsync();
            NavigationManager.NavigateTo("/");
        }
        else
        {
            string error = await result.Content.ReadAsStringAsync();
            message = $"ERROR: {error}";
        }
    }
}